/images/
/venv/
*.jpg
*.gz
*.out
*.ply
*.txt
*.patch
*.pset
static/images/2withtop/temp/bundle/out
*.dat
*.sh
static/images/1shoebox/temp/bundle/out
static/images/3withtop/temp/bundle/out
static/images/3standardteawithtop/temp/bundle/out
static/images/3shoebox/temp/bundle/out
static/images/3highteawithtop/temp/bundle/out
static/images/3highteawithactualtop/temp/bundle/out
static/images/3/temp/bundle/out
static/images/2teaagainagain/temp/bundle/out
static/images/2teaagain/temp/bundle/out
static/images/2shoebox/temp/bundle/out
static/images/2/temp/bundle/out
static/images/1withtop/temp/bundle/out
static/images/1/temp/bundle/out
*.jpg
*.jpg
static/images/bear12/temp/bundle/out
static/images/bear7/temp/bundle/out
static/images/juice10/temp/15_1.jpg.pgm
static/images/juice10/temp/bundle/out
static/images/juice11/temp/15_1.jpg.pgm
static/images/juice11/temp/bundle/out
static/images/juice12/temp/15_1.jpg.pgm
static/images/juice12/temp/bundle/out
static/images/juice13/temp/15_1.jpg.pgm
static/images/juice13/temp/bundle/out
static/images/juice14/temp/15_1.jpg.pgm
static/images/juice14/temp/bundle/out
static/images/juice7/temp/15_1.jpg.pgm
static/images/juice7/temp/bundle/out
static/images/juice8/temp/15_1.jpg.pgm
static/images/juice8/temp/bundle/out
static/images/juice9/temp/15_1.jpg.pgm
static/images/juice9/temp/bundle/out
static/images/lab1-2/temp/bundle/out
static/images/lab1-3/temp/bundle/out
static/images/lab1/temp/bundle/out
static/images/lab2/temp/bundle/out
static/images/lab3/temp/bundle/out
static/images/lab4/temp/bundle/out
