/images/
/venv/
*.jpg
*.gz
*.out
*.ply
*.txt
*.patch
*.pset
static/images/2withtop/temp/bundle/out
*.dat
*.sh
static/images/1shoebox/temp/bundle/out
static/images/3withtop/temp/bundle/out
static/images/3standardteawithtop/temp/bundle/out
static/images/3shoebox/temp/bundle/out
static/images/3highteawithtop/temp/bundle/out
static/images/3highteawithactualtop/temp/bundle/out
static/images/3/temp/bundle/out
static/images/2teaagainagain/temp/bundle/out
static/images/2teaagain/temp/bundle/out
static/images/2shoebox/temp/bundle/out
static/images/2/temp/bundle/out
static/images/1withtop/temp/bundle/out
static/images/1/temp/bundle/out
*.jpg
*.jpg
