{% extends "bootstrap/base.html" %}

{% block title %}Full Moon Test{% endblock %}

{%block content %}
	<section class="container">
	    <div class="row align-items-start">
			<div class = "col-4">
				<div>
					<p>row afeaf alejfiaejf aofijaeof aoefjaoef oiaejf o</p>
					<p>row afeaf alejfiaejf aofijaeof aoefjaoef oiaejf o</p>
					<p>row afeaf alejfiaejf aofijaeof aoefjaoef oiaejf o</p>
				</div>
			</div>
			<div class = "col-4">
				<div class="checkbox">
				  <label><input type="checkbox" value="">Option 1</label>
				</div>
				<div class="checkbox">
				  <label><input type="checkbox" value="">Option 2</label>
				</div>
				<div class="checkbox">
				  <label><input type="checkbox" value="">Option 3</label>
				</div>		
			</div>
		</div>
	</section>

{% endblock %}