{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container" style="text-align:center;">
	<div class="centercenter">
	<h3>Stage 2: Camera pose estimation and bundle adjustment of "{{name}}"</h3>
		<p>The position of the camera when an image is taken is estimated. This is done by applying the pinhole camera
			model on all images. Bundle adjustment then does a large scale optimization of the
			estimation results during this stage by applying Levenberg–Marquardt algorithm to solve the 	non-linear least squares problems.</p>
		<br><br>
		<a class="btn btn-primary halfwidth" href="/BundleAdjustmentprocess?name={{name}}">Begin Stage 2</a>
	</div>
</section>
{% endblock %}