{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container">
	<h2>Stage 2: Photogrammetry processing (bundle adjustment) and initializing of output for PMVS</h2>
			<br>
	<div>
		Processing image set "{{name}}".
		<br>
		<br>
		<a class="button" style="background-color: cornflowerblue;" href="/BundleAdjustmentprocess?name={{name}}">Process</a>
	</div>
</section>
{% endblock %}