{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
<script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/pace-theme-center-circle.css') }}">
<script>
	$(document).ready(function () {
		$("#processstage").click(function(){
			$('#cover-spin').show(0);
			window.location.href = "/PointCloudDenoiseprocess?name={{name}}";
		});
	});
</script>
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container" style="text-align:center;">
	<div class="centercenter">
		<div id="titleheader" style="margin: 50px auto; max-width: 1005px; height: 150px; display: flex; justify-content: center; align-items: center;">
			<div id="one"><h3 style="text-align: right; margin:0; max-height: 100px;">Stage</h3><h1 style="font-size: 60px; margin:0;">4</h1></div>
			<div id="mid" style="border-left: 1.5px solid silver; height: 130px; max-height: 100%; margin: 10px 20px;"></div>
			<div id="two" style="text-align:left;">
				<div>
					<h3 style="margin-top:0;">Point cloud de-noising of "{{name}}"</h3>
					De-noising of the generated point cloud is done via a statistical approach.
					A K-Nearest Neighbors algorithm is used to find the neighboring points.
					All points whose mean distance to it's neighbouring points exceed the global distance's mean and standard deviation are treated as noise and removed.
				</div>
			</div>
		</div>
		<a class="btn btn-default halfwidth" href="{{ url_for('static', filename='images/' + name + '/temp/pmvs/models/pmvs_options.txt.ply')}}">Download current state of model</a>
				<a class="btn btn-primary halfwidth" id="processstage">Begin Stage 4</a>
	</div>
</section>
<div id="cover-spin"></div>
{% endblock %}