<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<title>Virtuaso: Display 3D Model</title>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--<style type="text/css">-->
	<!--#threejs_container {-->
		<!--/*max-width : 500px;*/-->
		<!--overflow : hidden;-->
		<!--display : inline-block;-->
		<!--margin : 10px;-->
	<!--}-->
	<!--#mesh_table {-->
		<!--/*max-width : 500px;*/-->
<!--/*		border-style: solid;-->
		<!--border-width: 5px;*/-->
		<!--&lt;!&ndash;display : inline-block;&ndash;&gt;-->
		<!--margin : 10px;-->
	<!--}-->
	<!--.button{-->
		<!--margin : 10px;-->
	<!--}-->
<!--</style>-->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
<!--<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">-->
<!--<script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='js/ezBSAlert.js') }}"></script>-->
<!--&lt;!&ndash; Bootstrap CSS CDN &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
<!--&lt;!&ndash; Font Awesome JS &ndash;&gt;-->
<!--<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>-->
<!--<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>-->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">-->
<!--</head>-->

<!--<body>-->
    <!--<div class="wrapper">-->
        <!--&lt;!&ndash; Sidebar  &ndash;&gt;-->
        <!--<nav id="sidebar">-->
            <!--<div class="sidebar-header">-->
                <!--<h3>3D model viewer</h3>-->
            <!--</div>-->

            <!--<ul class="list-unstyled components">-->
                <!--<li>-->
                    <!--<a href="javascript:void(0);" id="switchControl">Switch control</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#editmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Edit model</a>-->
                    <!--<ul class="collapse list-unstyled" id="editmenu">-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" id="cutBase">Cut along blue base</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#binarymenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Export binary model</a>-->
                    <!--<ul class="collapse list-unstyled" id="binarymenu">-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" id="plyBinary">.ply</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" id="stlBinary">.stl</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" id="objBinary">.obj</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#ASCIImenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Export ASCII model</a>-->
                    <!--<ul class="collapse list-unstyled" id="ASCIImenu">-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" id="plyASCII">.ply</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" id="stlASCII">.stl</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" id="objASCII">.obj</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->

            <!--<ul class="list-unstyled CTAs">-->
                <!--<li>-->
                    <!--<div>-->
                        <!--<a href="-->
                            <!--{% if name %}-->
                                <!--{{ url_for('static', filename='model/' + name + '.ply')}}-->
                            <!--{% else %} javascript:void(0);-->
                            <!--{% endif %}"-->
                           <!--class="download" id="linker"><img src="../static/ui/dlwhite.png" width="15%" height="15%"> Export model (ASCII)</a>-->
                        <!--<a href="-->
                            <!--{% if name %}-->
                                <!--{{ url_for('static', filename='model/' + name + '.ply')}}-->
                            <!--{% else %} javascript:void(0);-->
                            <!--{% endif %}"-->
                           <!--class="download" id="linker2"><img src="../static/ui/dlwhite.png" width="15%" height="15%"> Export model (Binary)</a>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</nav>-->

        <!--&lt;!&ndash; Page Content  &ndash;&gt;-->
        <!--<div id="content">-->
            <!--<div class="container-fluid" style="padding-left:0;  position:fixed; margin:10px;">-->
                <!--<button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color:#7386D5; border:none;">-->
                    <!--<i class="fas fa-align-left"></i>-->
                    <!--<span>Toggle Sidebar</span>-->
                <!--</button>-->
                <!--<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"-->
                        <!--data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
                    <!--<i class="fas fa-align-justify"></i>-->
                <!--</button>-->
            <!--</div>-->

            <!--<div id="modelviewer">-->

            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; jQuery CDN - Slim version (=without AJAX) &ndash;&gt;-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--&lt;!&ndash; Popper.JS &ndash;&gt;-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>-->
    <!--&lt;!&ndash; Bootstrap JS &ndash;&gt;-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>-->

    <!--<script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>-->
    <!--<script src="{{ url_for('static', filename='js/PLYLoader.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/PLYExporter.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/OBJExporter.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/STLExporter.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/Detector.js') }}"></script>-->
    <!--&lt;!&ndash; <script src="{{ url_for('static', filename='js/stats.min.js')}}"></script> &ndash;&gt;-->
    <!--<script src="{{ url_for('static', filename='js/TrackballControls.js')}}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/TransformControls.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/csg.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/ThreeCSG.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/SimplifyModifier.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/Blob.js') }}"></script>-->
    <!--&lt;!&ndash;<script src="{{ url_for('static', filename='js/display.js') }}"></script>&ndash;&gt;-->

    <!--<script type="text/javascript">-->
        <!--$(document).ready(function () {-->
            <!--$('#sidebarCollapse').on('click', function () {-->
                <!--$('#sidebar').toggleClass('active');-->

                <!--//if($('#sidebar').hasClass('active')){-->
                <!--//    newsize = $('#modelviewer').first().first().width() + 200;-->
                <!--//}-->
                <!--//else{-->
                <!--//    newsize = $('#modelviewer').first().first().width() - 200;-->
                <!--//}-->
                <!--//    $('#modelviewer').first().first().attr('width', newsize);-->
            <!--});-->

            <!--{% if name %}-->
            <!--$('#switchControl').on('click', switchControlMode);-->
            <!--$('#cutBase').on('click', cutBase);-->

            <!--$('#plyASCII').on('click', function() {-->
                <!--generateModelLink(0);-->
            <!--});-->
            <!--$('#plyBinary').on('click', function() {-->
                <!--generateModelLink(1);-->
            <!--});-->

            <!--$('#stlASCII').on('click', function() {-->
                <!--generateModelLinkSTL(0);-->
            <!--});-->
            <!--$('#stlBinary').on('click', function() {-->
                <!--generateModelLinkSTL(1);-->
            <!--});-->

            <!--$('#objASCII').on('click', function() {-->
                <!--generateModelLinkOBJ(0);-->
            <!--});-->
            <!--$('#objBinary').on('click', function() {-->
                <!--generateModelLinkOBJ(1);-->
            <!--});-->

            <!--{% else %}-->
            <!--$('#switchControl').on('click', alerter);-->
            <!--$('#cutBase').on('click', alerter);-->

            <!--$('#plyASCII').on('click', alerter);-->
            <!--$('#plyBinary').on('click', alerter);-->

            <!--$('#stlASCII').on('click', alerter);-->
            <!--$('#stlBinary').on('click', alerter);-->

            <!--$('#objASCII').on('click', alerter);-->
            <!--$('#objBinary').on('click', alerter);-->

            <!--$('#linker').on('click', alerter);-->
            <!--$('#linker2').on('click', alerter);-->
            <!--{% endif %}-->
        <!--});-->

        <!--function alerter(){-->
            <!--ezBSAlert({-->
                  <!--type: "alert",-->
                  <!--messageText: "Please select a 3D model to view first!",-->
                  <!--alertType: "primary"-->
            <!--}).done(function (e) {-->
            <!--});-->
        <!--}-->

        <!--if ( ! Detector.webgl ) Detector.addGetWebGLMessage();-->

        <!--var camera, scene, renderer, tfControl, tbControl;-->
        <!--var geometry, material, mesh;-->
        <!--var floorGeometry, floorMaterial, floorMesh;-->
        <!--var clicking = true;-->
        <!--var isTranslate = false;;-->
    <!--// $( document ).ready(function() {-->
        <!--init();-->
        <!--render();-->
        <!--animate();-->
    <!--// });-->

        <!--function init() {-->
            <!--container = document.createElement('div');-->
            <!--document.getElementById("modelviewer").appendChild(container);-->

            <!--//Renderer-->
            <!--renderer = new THREE.WebGLRenderer( { antialias: true } );-->
            <!--renderer.setSize( window.innerWidth, window.innerHeight );-->
            <!--container.appendChild( renderer.domElement );-->

            <!--//Scene-->
            <!--scene = new THREE.Scene();-->
            <!--scene.background = new THREE.Color( 0xb7b8b6 );-->
            <!--scene.add( new THREE.GridHelper( 25, 20 ) );-->

            <!--//Floor-->
            <!--floorGeometry = new THREE.BoxGeometry(15,0.001,15);-->
            <!--floorMaterial = new THREE.MeshBasicMaterial( {color: 0x4cb5f5, opacity : 0.5, transparent: true, depthWrite:false} );-->
            <!--floorMesh = new THREE.Mesh(floorGeometry, floorMaterial);-->
            <!--floorMesh.position.set(0,0,0);-->
            <!--scene.add(floorMesh);-->

            <!--//Camera-->
            <!--camera = new THREE.PerspectiveCamera(60 , window.innerWidth / window.innerHeight, 1, 1000 );-->
            <!--camera.position.set(0, 10, 10 );-->
            <!--camera.lookAt(scene.position);-->

            <!--//Controls-->
            <!--tbControl = new THREE.TrackballControls( camera );-->
            <!--tbControl.rotateSpeed = 0;-->
            <!--tbControl.zoomSpeed = 1.2;-->
            <!--tbControl.panSpeed = 0.8;-->
            <!--tbControl.noZoom = false;-->
            <!--tbControl.noPan = false;-->
            <!--tbControl.staticMoving = true;-->
            <!--tbControl.dynamicDampingFactor = 0.3;-->
            <!--tbControl.keys = [ 65, 83, 68 ];-->
            <!--tbControl.addEventListener( 'change', render );-->

            <!--tfControl = new THREE.TransformControls( camera, renderer.domElement );-->
            <!--tfControl.addEventListener( 'change', render );-->

            <!--//PLY file-->
            <!--{% if name %}-->

            <!--var loader = new THREE.PLYLoader();-->
            <!--loader.load( "{{ url_for('static', filename='model/' + name + '.ply')}}", function ( geometry ) {-->
                <!--console.log(geometry);-->
                <!--geometry.computeFaceNormals();-->
                <!--geometry.dynamic  = true;-->
                <!--geometry.dirty = true;-->
                <!--geometry.overdraw = true;-->

                <!--var meshCenter = geometry.boundingSphere.center;-->
                <!--var meshRadius = geometry.boundingSphere.radius;-->
                <!--var s = (meshRadius === 0 ? 1 : 1.0 / meshRadius) * 10;-->
                <!--var m = new THREE.Matrix4().set(-->
                <!--s, 0, 0, -s*meshCenter.x,-->
                <!--0, s , 0, -s*meshCenter.y,-->
                <!--0, 0, s, -s*meshCenter.z,-->
                <!--0, 0, 0, 1);-->
                <!--geometry.applyMatrix(m);-->

                <!--geometry1 = new THREE.Geometry().fromBufferGeometry( geometry );-->
                <!--console.log(geometry1.toJSON);-->
                <!--material = new THREE.MeshPhongMaterial( { color: 0xffffff, flatShading: false, vertexColors: THREE.FaceColors} );-->
                <!--mesh = new THREE.Mesh( geometry1, material );-->
                <!--scene.add( mesh );-->
                <!--tfControl.attach(mesh);-->
                <!--scene.add(tfControl);-->
                <!--tfControl.setMode("rotate");-->
                <!--tfControl.setSpace( tfControl.space = "local");-->
            <!--});-->

            <!--{% endif %}-->

            <!--//Lights-->
            <!--var light = new THREE.DirectionalLight( 0xffffff, 1.5 );-->
            <!--light.position.set( 1, 1, 1 );-->
            <!--scene.add( light );-->
            <!--var light = new THREE.DirectionalLight( 0x002288 );-->
            <!--light.position.set( -1, -1, -1 );-->
            <!--scene.add( light );-->
            <!--var light = new THREE.AmbientLight( 0x222222 );-->
            <!--scene.add( light );-->

            <!--document.addEventListener( 'mousedown', onMouseDown );-->
        <!--}-->

        <!--function animate() {-->

            <!--requestAnimationFrame(animate);-->
            <!--tbControl.update();-->
        <!--}-->


        <!--function render() {-->
            <!--tfControl.update();-->
            <!--renderer.render( scene, camera );-->
        <!--}-->

        <!--function onMouseDown(event){-->
            <!--event.preventDefault();-->
            <!--var mouse3D = new THREE.Vector3( ( event.clientX / window.innerWidth ) * 2 - 1,  -( event.clientY / window.innerHeight ) * 2 + 1,  0.5 );-->
            <!--var raycaster =  new THREE.Raycaster();-->
            <!--raycaster.setFromCamera( mouse3D, camera );-->
            <!--var intersects = raycaster.intersectObjects(scene.children);-->
            <!--for ( var i = 0; i < intersects.length; i++ ) {-->
                <!--if(intersects[i].object.uuid == mesh.uuid){-->
                    <!--/*if(clicking){-->
                        <!--intersects[ i ].object.material.color.set( 0x96C0B7 );-->
                        <!--clicking = !clicking;-->
                    <!--}-->
                    <!--else{-->
                        <!--intersects[ i ].object.material.color.set( 0xff0000 );-->
                        <!--clicking = !clicking;-->
                    <!--}*/-->
                <!--}-->
            <!--}-->
            <!--render();-->
            <!--console.log(intersects);-->
        <!--}-->

        <!--function switchControlMode(){-->
            <!--isTranslate = !isTranslate;-->
            <!--if(isTranslate){-->
                <!--tfControl.setMode("translate");-->
            <!--}-->
            <!--else{-->
                <!--tfControl.setMode("rotate");-->
            <!--}-->
            <!--return false;-->
        <!--}-->

        <!--function csgSubtract(){-->
            <!--backGeometry(mesh);-->
            <!--backGeometry(floorMesh);-->

            <!--var mesh_bsp = new ThreeBSP(mesh);-->
            <!--var floorMesh_bsp = new ThreeBSP(floorMesh);-->
            <!--var result = mesh_bsp.subtract(floorMesh_bsp).toMesh();-->
            <!--mesh.geometry = result.geometry;-->
            <!--render();-->
            <!--return false;-->
        <!--}-->

        <!--function simplify(){-->
            <!--var modifer = new THREE.SimplifyModifier();-->
            <!--var simplified = modifer.modify( mesh.geometry, mesh.geometry.vertices.length * 0.5 | 0 );-->
            <!--console.log(mesh.geometry.vertices.length);-->
            <!--mesh.geometry = simplified;-->
            <!--console.log(mesh.geometry.vertices.length);-->
            <!--render();-->
            <!--return false;-->
        <!--}-->

        <!--function backGeometry(mesh){-->
            <!--mesh.updateMatrix();-->
            <!--mesh.geometry.applyMatrix( mesh.matrix );-->
            <!--mesh.matrix.identity();-->
            <!--mesh.position.set( 0, 0, 0 );-->
            <!--mesh.rotation.set( 0, 0, 0 );-->
            <!--mesh.scale.set( 1, 1, 1 );-->
            <!--return false;-->
        <!--}-->

        <!--function cutBase(){-->
            <!--// console.log(mesh.geometry);-->
            <!--backGeometry(mesh);-->
            <!--var vertices = mesh.geometry.vertices;-->
            <!--var vToDelete = [];-->
            <!--var collapsePoint=-1;-->
            <!--var min = 10000;-->
            <!--for (var i = 0; i <vertices.length; i++) {-->

                <!--if(vertices[i].y < 0){-->
                    <!--vToDelete.push(i);-->
                <!--}-->
                <!--else {-->
                    <!--if(collapsePoint == -1){-->
                        <!--collapsePoint = i;-->
                        <!--min = vertices[i].y-0;-->
                    <!--}-->
                    <!--else{-->
                        <!--var current = vertices[i].y-0;-->
                        <!--if(current < min){-->
                            <!--collapsePoint = i;-->
                            <!--min = current;-->
                        <!--}-->
                    <!--}-->
                <!--}-->
            <!--}-->
            <!--console.log(collapsePoint);-->
            <!--console.log(vToDelete);-->

            <!--if(collapsePoint!=-1){-->
                <!--vToDelete.forEach(function(element){-->
                    <!--vertices[element] = vertices[collapsePoint]-->
                <!--});-->
            <!--}-->

            <!--// var faces = mesh.geometry.faces;-->
            <!--// var fToDelete = [];-->
            <!--// for (var i = 0; i <faces.length; i++) {-->
            <!--// 	if(contains(vToDelete, faces['a']) || contains(vToDelete, faces['b']) || contains(vToDelete, faces['c'])){-->
            <!--// 		fToDelete.push(i);-->
            <!--// 	}-->
            <!--// }-->

            <!--// for (var i = 0; i <vToDelete.length;i++){-->
            <!--// 	delete mesh.geometry.vertices[vToDelete[i]];-->
            <!--// }-->
            <!--// for (var i = 0; i <fToDelete.length;i++){-->
            <!--// 	delete mesh.geometry.faces[fToDelete[i]];-->
            <!--// }-->
            <!--// mesh.geometry.faces = mesh.geometry.faces.filter( function(a){ return a!== undefined });-->
            <!--// mesh.geometry.vertices = mesh.geometry.vertices.filter( function(a){ return a!== undefined });-->
            <!--mesh.geometry.elementsNeedUpdate = true;-->
            <!--render();-->
            <!--return false;-->
        <!--}-->

        <!--function generateModelLink(i){-->

            <!--var exp = new THREE.PLYExporter();-->
            <!--var endingFile = "_Binary.ply";-->

            <!--// Process into the ASCII/binary file format-->
            <!--if (i == 1) {-->
                <!--var data = exp.parse(mesh, { binary: true });-->
            <!--}-->
            <!--else {-->
                <!--if (confirm("Generating model in ASCII format may not work for big-sized models. Proceed?") == false)-->
                    <!--return false;-->
                <!--var data = exp.parse(mesh);-->
                <!--endingFile = "_ASCII.ply";-->
            <!--}-->

            <!--var file = new File([data], "generated.ply");-->
            <!--var a = document.getElementById("linker");-->
            <!--a.href = URL.createObjectURL(file);-->

            <!--var currURL = window.location.href.split("/");-->
            <!--a.download = currURL[currURL.length - 1] + endingFile;-->

            <!--window.alert("Model updated. Please download and save the model locally. Any changes will not be saved in the web server");-->
            <!--return false;-->
        <!--}-->

        <!--function generateModelLinkSTL(i){-->
            <!--var exp = new THREE.STLExporter();-->
            <!--var endingFile = "_Binary.stl";-->

            <!--// Process into the ASCII/binary file format-->
            <!--if (i == 1) {-->
                <!--var data = exp.parse(mesh, { binary: true });-->
            <!--}-->
            <!--else {-->
                <!--if (confirm("Generating model in ASCII format may not work for big-sized models. Proceed?") == false)-->
                    <!--return false;-->
                <!--var data = exp.parse(mesh);-->
                <!--endingFile = "_ASCII.stl";-->
            <!--}-->

            <!--var file = new File([data], "generated.stl");-->
            <!--var a = document.getElementById("linker");-->
            <!--a.href = URL.createObjectURL(file);-->

            <!--var currURL = window.location.href.split("/");-->
            <!--a.download = currURL[currURL.length - 1] + endingFile;-->

            <!--window.alert("Model updated. Please download and save the model locally. Any changes will not be saved in the web server");-->
            <!--return false;-->
        <!--}-->

        <!--function generateModelLinkOBJ(i){-->
            <!--var exp = new THREE.OBJExporter();-->
            <!--var endingFile = "_Binary.obj";-->

            <!--// Process into the ASCII/binary file format-->
            <!--if (i == 1) {-->
                <!--var data = exp.parse(mesh, { binary: true });-->
            <!--}-->
            <!--else {-->
                <!--if (confirm("Generating model in ASCII format may not work for big-sized models. Proceed?") == false)-->
                    <!--return false;-->
                <!--var data = exp.parse(mesh);-->
                <!--endingFile = "_ASCII.obj";-->
            <!--}-->

            <!--var file = new File([data], "generated.obj");-->
            <!--var a = document.getElementById("linker");-->
            <!--a.href = URL.createObjectURL(file);-->

            <!--var currURL = window.location.href.split("/");-->
            <!--a.download = currURL[currURL.length - 1] + endingFile;-->

            <!--window.alert("Model updated. Please download and save the model locally. Any changes will not be saved in the web server");-->
            <!--return false;-->
        <!--}-->

        <!--function contains(arr, element) {-->
            <!--for (var i = 0; i < arr.length; i++) {-->
                <!--if (arr[i] === element) {-->
                    <!--return true;-->
                <!--}-->
            <!--}-->
            <!--return false;-->
        <!--}-->
    <!--</script>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html style="overflow-x: hidden;">
<head>
{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso: View 3D Models{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block styles %}
{{ super() }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        #threejs_container {
            /*max-width : 500px;*/
            overflow : hidden;
            display : inline-block;
            margin : 10px;
        }
        #mesh_table {
            /*max-width : 500px;*/
    /*		border-style: solid;
            border-width: 5px;*/
            <!--display : inline-block;-->
            margin : 10px;
        }
        .button{
            margin : 10px;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pace-theme-center-circle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ezBSAlert.js') }}"></script>
    <!-- Bootstrap CSS CDN -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>-->

{% endblock %}
</head>

<body>
    {% block navbar %}
    {%include "NavBarTemplate.html" %}
    {% endblock %}
    {%block content %}
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Model Viewer</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="javascript:void(0);" id="switchControl">Switch control</a>
                </li>
                <li>
                    <a href="#editmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Edit model</a>
                    <ul class="collapse list-unstyled" id="editmenu" style="background-color:#393939;">
                        <li>
                            <a href="javascript:void(0);" id="cutBase">Delete parts below blue square</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#binarymenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Export binary model</a>
                    <ul class="collapse list-unstyled" id="binarymenu" style="background-color:#393939;">
                        <li>
                            <a href="javascript:void(0);" id="plyBinary">.ply</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="stlBinary">.stl</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="objBinary">.obj</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#ASCIImenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Export ASCII model</a>
                    <ul class="collapse list-unstyled" id="ASCIImenu" style="background-color:#393939;">
                        <li>
                            <a href="javascript:void(0);" id="plyASCII">.ply</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="stlASCII">.stl</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="objASCII">.obj</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <div>
                        <a href="
                            {% if name %}
                                {{ url_for('static', filename='model/' + name + '.ply')}}
                            {% else %} javascript:void(0);
                            {% endif %}"
                           class="download" id="linker" style="display:none;"><img src="../static/ui/dlwhite.png" width="15%" height="15%"> Export model (ASCII)</a>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <div class="container-fluid" style="padding-left:0;  position:absolute; margin:10px;">
                <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color:#2a2a2a; color:#9d9d9d; border:none; font-size: 15px;">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <button style="display:none;" class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
            </div>

            <div id="modelviewer"></div>
        </div>
    </div>
    <div id="cover-spin"></div>

    <script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>
    <script src="{{ url_for('static', filename='js/PLYLoader.js') }}"></script>
    <script src="{{ url_for('static', filename='js/PLYExporter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/OBJExporter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/STLExporter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Detector.js') }}"></script>
    <script src="{{ url_for('static', filename='js/TrackballControls.js')}}"></script>
    <script src="{{ url_for('static', filename='js/TransformControls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/csg.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ThreeCSG.js') }}"></script>
    <script src="{{ url_for('static', filename='js/SimplifyModifier.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Blob.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

            {% if name %}
            $('#switchControl').on('click', switchControlMode);
            $('#cutBase').on('click', cutBase);

            $('#plyASCII').on('click', function() {
                generateModelLink(0);
            });
            $('#plyBinary').on('click', function() {
                generateModelLink(1);
            });

            $('#stlASCII').on('click', function() {
                generateModelLinkSTL(0);
            });
            $('#stlBinary').on('click', function() {
                generateModelLinkSTL(1);
            });

            $('#objASCII').on('click', function() {
                generateModelLinkOBJ(0);
            });
            $('#objBinary').on('click', function() {
                generateModelLinkOBJ(1);
            });

            {% else %}
            $('#switchControl').on('click', alerter);
            $('#cutBase').on('click', alerter);

            $('#plyASCII').on('click', alerter);
            $('#plyBinary').on('click', alerter);

            $('#stlASCII').on('click', alerter);
            $('#stlBinary').on('click', alerter);

            $('#objASCII').on('click', alerter);
            $('#objBinary').on('click', alerter);

            $('#linker').on('click', alerter);
            {% endif %}

            function alerter(){
            ezBSAlert({
                  type: "alert",
                  messageText: "Please select a 3D model to view first!",
                  alertType: "primary"
            }).done(function (e) {
            });
        }

        if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

        var camera, scene, renderer, tfControl, tbControl;
        var geometry, material, mesh;
        var floorGeometry, floorMaterial, floorMesh;
        var clicking = true;
        var isTranslate = false;;
        init();
        render();
        animate();

        function init() {
            container = document.createElement('div');
            document.getElementById("modelviewer").appendChild(container);

            //Renderer
            renderer = new THREE.WebGLRenderer( { antialias: true } );
            renderer.setSize( window.innerWidth, window.innerHeight - 58 );
            container.appendChild( renderer.domElement );

            //Scene
            scene = new THREE.Scene();
            scene.background = new THREE.Color( 0xcee9ff );
            scene.add( new THREE.GridHelper( 25, 20 ) );

            //Floor
            floorGeometry = new THREE.BoxGeometry(15,0.001,15);
            floorMaterial = new THREE.MeshBasicMaterial( {color: 0x0c89d6, opacity : 0.5, transparent: true, depthWrite:false} );
            floorMesh = new THREE.Mesh(floorGeometry, floorMaterial);
            floorMesh.position.set(0,0,0);
            scene.add(floorMesh);

            //Camera
            camera = new THREE.PerspectiveCamera(60 , window.innerWidth / window.innerHeight, 1, 1000 );
            camera.position.set(0, 10, 10 );
            camera.lookAt(scene.position);

            //Controls
            tbControl = new THREE.TrackballControls( camera );
            tbControl.rotateSpeed = 0;
            tbControl.zoomSpeed = 1.2;
            tbControl.panSpeed = 0.8;
            tbControl.noZoom = false;
            tbControl.noPan = false;
            tbControl.staticMoving = true;
            tbControl.dynamicDampingFactor = 0.3;
            tbControl.keys = [ 65, 83, 68 ];
            tbControl.addEventListener( 'change', render );

            tfControl = new THREE.TransformControls( camera, renderer.domElement );
            tfControl.addEventListener( 'change', render );

            //PLY file
            {% if name %}

            var loader = new THREE.PLYLoader();
            loader.load( "{{ url_for('static', filename='model/' + name + '.ply')}}", function ( geometry ) {
                console.log(geometry);
                geometry.computeFaceNormals();
                geometry.dynamic  = true;
                geometry.dirty = true;
                geometry.overdraw = true;

                var meshCenter = geometry.boundingSphere.center;
                var meshRadius = geometry.boundingSphere.radius;
                var s = (meshRadius === 0 ? 1 : 1.0 / meshRadius) * 10;
                var m = new THREE.Matrix4().set(
                s, 0, 0, -s*meshCenter.x,
                0, s , 0, -s*meshCenter.y,
                0, 0, s, -s*meshCenter.z,
                0, 0, 0, 1);
                geometry.applyMatrix(m);

                geometry1 = new THREE.Geometry().fromBufferGeometry( geometry );
                console.log(geometry1.toJSON);
                material = new THREE.MeshPhongMaterial( { color: 0xffffff, flatShading: false, vertexColors: THREE.FaceColors} );
                mesh = new THREE.Mesh( geometry1, material );
                scene.add( mesh );
                tfControl.attach(mesh);
                scene.add(tfControl);
                tfControl.setMode("rotate");
                tfControl.setSpace( tfControl.space = "local");
            });

            {% endif %}

            //Lights
            var light = new THREE.DirectionalLight( 0xffffff, 1.5 );
            light.position.set( 1, 1, 1 );
            scene.add( light );
            var light = new THREE.DirectionalLight( 0x002288 );
            light.position.set( -1, -1, -1 );
            scene.add( light );
            var light = new THREE.AmbientLight( 0x222222 );
            scene.add( light );

            //document.addEventListener( 'mousedown', onMouseDown );
        }

        function animate() {

            requestAnimationFrame(animate);
            tbControl.update();
        }


        function render() {
            tfControl.update();
            renderer.render( scene, camera );
        }

        function onMouseDown(event){
            event.preventDefault();
            var mouse3D = new THREE.Vector3( ( event.clientX / window.innerWidth ) * 2 - 1,  -( event.clientY / window.innerHeight ) * 2 + 1,  0.5 );
            var raycaster =  new THREE.Raycaster();
            raycaster.setFromCamera( mouse3D, camera );
            var intersects = raycaster.intersectObjects(scene.children);
            for ( var i = 0; i < intersects.length; i++ ) {
                if(intersects[i].object.uuid == mesh.uuid){
                    /*if(clicking){
                        intersects[ i ].object.material.color.set( 0x96C0B7 );
                        clicking = !clicking;
                    }
                    else{
                        intersects[ i ].object.material.color.set( 0xff0000 );
                        clicking = !clicking;
                    }*/
                }
            }
            render();
            console.log(intersects);
        }

        function switchControlMode(){
            isTranslate = !isTranslate;
            if(isTranslate){
                tfControl.setMode("translate");
            }
            else{
                tfControl.setMode("rotate");
            }
            return false;
        }

        function csgSubtract(){
            backGeometry(mesh);
            backGeometry(floorMesh);

            var mesh_bsp = new ThreeBSP(mesh);
            var floorMesh_bsp = new ThreeBSP(floorMesh);
            var result = mesh_bsp.subtract(floorMesh_bsp).toMesh();
            mesh.geometry = result.geometry;
            render();
            return false;
        }

        function simplify(){
            var modifer = new THREE.SimplifyModifier();
            var simplified = modifer.modify( mesh.geometry, mesh.geometry.vertices.length * 0.5 | 0 );
            console.log(mesh.geometry.vertices.length);
            mesh.geometry = simplified;
            console.log(mesh.geometry.vertices.length);
            render();
            return false;
        }

        function backGeometry(mesh){
            mesh.updateMatrix();
            mesh.geometry.applyMatrix( mesh.matrix );
            mesh.matrix.identity();
            mesh.position.set( 0, 0, 0 );
            mesh.rotation.set( 0, 0, 0 );
            mesh.scale.set( 1, 1, 1 );
            return false;
        }

        function cutBase(){
            // console.log(mesh.geometry);
            backGeometry(mesh);
            var vertices = mesh.geometry.vertices;
            var vToDelete = [];
            var collapsePoint=-1;
            var min = 10000;
            for (var i = 0; i <vertices.length; i++) {

                if(vertices[i].y < 0){
                    vToDelete.push(i);
                }
                else {
                    if(collapsePoint == -1){
                        collapsePoint = i;
                        min = vertices[i].y-0;
                    }
                    else{
                        var current = vertices[i].y-0;
                        if(current < min){
                            collapsePoint = i;
                            min = current;
                        }
                    }
                }
            }
            console.log(collapsePoint);
            console.log(vToDelete);

            if(collapsePoint!=-1){
                vToDelete.forEach(function(element){
                    vertices[element] = vertices[collapsePoint]
                });
            }

            mesh.geometry.elementsNeedUpdate = true;
            render();
            return false;
        }

        function generateModelLink(i){
            ezBSAlert({
              type: "prompt",
              headerText: 'Name of exported file',
              messageText: "Do not use special characters!",
              okButtonText: 'Export',
              alertType: "primary"
            }).done(function (e) {
              if (e === "") {
                ezBSAlert({
                  type: 'alert',
                  headerText: 'No name entered',
                  messageText: "Please enter a name.",
                  alertType: 'danger'
                }).done(function (e) {
                    return false;
                });
              }
              else{
                var exp = new THREE.PLYExporter();
                var endingFile = "_Binary.ply";

                var a = document.getElementById("linker");
                //$('#cover-spin').show();
                if (i == 1) {
                    var data = exp.parse(mesh, { binary: true });
                }
                else {
                    var data = exp.parse(mesh);
                    endingFile = "_ASCII.ply";
                }
                var file = new File([data], "generated.ply");
                a.href = URL.createObjectURL(file);

                a.download = e + endingFile;
                a.click();

                //a.click(function() {
                //    $('#cover-spin').hide();
                //});
              }
            });

            return false;
        }

        function generateModelLinkSTL(i){
            var exp = new THREE.STLExporter();
            var endingFile = "_Binary.stl";

            var a = document.getElementById("linker");
            ezBSAlert({
              type: "prompt",
              headerText: 'Name of exported file',
              messageText: "Do not use special characters!",
              okButtonText: 'Export',
              alertType: "primary"
            }).done(function (e) {
              if (e === "") {
                ezBSAlert({
                  type: 'alert',
                  headerText: 'No name entered',
                  messageText: "Please enter a name.",
                  alertType: 'danger'
                }).done(function (e) {
                    return false;
                });
              }
              else{
                var exp = new THREE.STLExporter();
                var endingFile = "_Binary.stl";

                var a = document.getElementById("linker");
                //$('#cover-spin').show();
                if (i == 1) {
                    var data = exp.parse(mesh, { binary: true });
                }
                else {
                    var data = exp.parse(mesh);
                    endingFile = "_ASCII.stl";
                }
                var file = new File([data], "generated.stl");
                a.href = URL.createObjectURL(file);

                a.download = e + endingFile;
                a.click();

                //a.click(function() {
                //    $('#cover-spin').hide();
                //});
              }

                return false;
            });
        }

        function generateModelLinkOBJ(i){
            var exp = new THREE.OBJExporter();
            var endingFile = "_Binary.obj";

            var a = document.getElementById("linker");
            ezBSAlert({
              type: "prompt",
              headerText: 'Name of exported file',
              messageText: "Do not use special characters!",
              okButtonText: 'Export',
              alertType: "primary"
            }).done(function (e) {
              // Process into the ASCII/binary file format
              if (e === "") {
                ezBSAlert({
                  type: 'alert',
                  headerText: 'No name entered',
                  messageText: "Please enter a name.",
                  alertType: 'danger'
                }).done(function (e) {
                    return false;
                });
              }
              else{
                var exp = new THREE.OBJExporter();
                var endingFile = "_Binary.obj";

                var a = document.getElementById("linker");
                //$('#cover-spin').show();
                if (i == 1) {
                    var data = exp.parse(mesh, { binary: true });
                }
                else {
                    var data = exp.parse(mesh);
                    endingFile = "_ASCII.obj";
                }
                var file = new File([data], "generated.obj");
                a.href = URL.createObjectURL(file);

                a.download = e + endingFile;
                a.click();

                //a.click(function() {
                //    $('#cover-spin').hide();
                //});
              }

                return false;
            });
        }

        function contains(arr, element) {
            for (var i = 0; i < arr.length; i++) {
                if (arr[i] === element) {
                    return true;
                }
            }
            return false;
        }
        });


    </script>
{% endblock %}
</body>
</html>