{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
	#threejs_container {
		/*max-width : 500px;*/
		overflow : hidden;
		display : inline-block;
		margin : 10px;
	}
	#mesh_table {
		/*max-width : 500px;*/
/*		border-style: solid;
		border-width: 5px;*/
		<!--display : inline-block;-->
		margin : 10px;
	}
	.button{
		margin : 10px;
	}
</style>
<script type="text/javascript">
	{% if name %}
	window.onload = function(){
		window.scrollTo(0,document.body.scrollHeight);
	};
	{% endif %}
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container">
	<h2><img src="../static/ui/box.png" width="50px" height=auto style="margin-right:20px;">Generated 3D models</h2>
	<div class="align-items-start">
		<p>This page allows you to view all generated 3D mesh models. The selected model will be shown in the 3D viewer. Models can also be edited with the base-cutter tool, or deleted.<br><br></p>
		<div id = "mesh_table" class = "col-4" style="max-width: 1000px; margin: auto;">
			<table id="myTable" class="table table-hover">
				<thead>
					<th style="width:5%;">View</th>
					<th style="width:40%;">Mesh name</th>
					<th style="width:20%;">Created time</th>
					<th style="width:20%;">Modified time</th>
					<th style="width:10%;">File size</th>
					<th style="width:5%;">Delete</th>
					<!--<th></th>-->
				</thead>
				<tbody>
					{% for d in data %}
					<tr>
                        <td>
                            <a href="/edit/{{d.filename}}"><img src="../static/ui/view.png" style="max-width:10%; min-width: 20px;" height=auto></a>
                        </td>
						<td>{{d.filename}}</td>
						<td>{{d.creation_time}}</td>
						<td>{{d.modification_time}}</td>
						<td>{{d.file_size}} KB</td>
                        <td>
                            <a href="/delete/{{d.filename}}" style="margin-left:20px;"><img src="../static/ui/delete.png" style="max-width:10%; min-width: 20px;" height=auto></a>
                        </td>
						<!--<td></td>-->
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div id = "threejs_container" class = "col-4 push-1">
			{% if name %}
			<iframe src="/display/{{name}}" scrolling="no" style=" width: 1150px; height: 700px; border: 1px solid #cbcbcb; border-radius: 10px;"></iframe>
			{% else %}
			<iframe src="/display/" scrolling="no" style=" width: 1150px; height: 700px; border: 1px solid #cbcbcb; border-radius: 10px;"></iframe>
			{% endif %}
<!-- 			<object data="/display/{{name}}" style="min-width: 100%; min-height: 101%;" type="text/html">
			    Alternative Content
			</object> -->
			<!-- <embed src="/display/{{name}}" width=100% /> -->
		</div>
	</div> <!-- row -->
</section> <!-- container -->
{% endblock %}