{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso: View 3D Models{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
	#threejs_container {
		/*max-width : 500px;*/
		overflow : hidden;
		display : inline-block;
		margin : 10px;
	}
	#mesh_table {
		/*max-width : 500px;*/
/*		border-style: solid;
		border-width: 5px;*/
		<!--display : inline-block;-->
		margin : 10px;
	}
	.button{
		margin : 10px;
	}
</style>
<script type="text/javascript">
	{% if name %}
	window.onload = function(){
		window.scrollTo(0,document.body.scrollHeight);
	};
	{% endif %}

	function confirm(filename) {
		ezBSAlert({
		  type: 'confirm',
		  messageText: "Confirm delete of '" + filename + "'? This action can't be undone.",
		  alertType: 'Confirm'
		}).done(function (e) {
			if(e){
				window.location.href = '/delete/'+filename;
			}
			return false;
		});
	}
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
<script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/ezBSAlert.js') }}"></script>
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container" style="text-align:center;">
	<div id="titleheader" style="margin: 50px auto; max-width: 1005px; height: 150px; display: flex; justify-content: center; align-items: center;">
		<div id="one"><img src="../static/ui/box.png" style="text-align: right; margin-top:25px; max-height: 100px; "></div>
		<div id="mid" style="border-left: 1.5px solid silver; height: 130px; max-height: 100%; margin: 10px 20px;"></div>
		<div id="two" style="text-align:left;"><div><h3 style="margin-top:0;">Generated 3D models</h3>
			This page allows you to view all generated 3D mesh models. The selected model will be shown in the 3D viewer.
			Models can also be edited with the base-cutter tool, or deleted.</div></div>
	</div>
	<!--<div style="margin:50px auto; width:60%;">-->
		<!--<h3><img src="../static/ui/box.png" width="100px" height=auto style="margin-bottom: 10px;"><br>Generated 3D models</h3>-->
		<!--<p>This page allows you to view all generated 3D mesh models. The selected model will be shown in the 3D viewer.-->
			<!--Models can also be edited with the base-cutter tool, or deleted.</p>-->
	<!--</div>-->
	<div class="align-items-start">
		<div id = "mesh_table" class = "col-4" style="margin: auto; text-align:left; width:100%;">
			<table id="myTable" class="table table-hover">
				<thead>
					<th style="width:10%; text-align:center;">View model</th>
					<th style="width:46%;">Model name</th>
					<th style="width:15%;">Created time</th>
					<th style="width:15%;">Modified time</th>
					<th style="width:9%;">File size</th>
					<th style="width:5%; text-align:center;">Delete</th>
					<!--<th></th>-->
				</thead>
				<tbody>
					{% for d in data %}
					<tr>
                        <td style="text-align:center;">
                            <a href="/edit/{{d.filename}}"><img src="../static/ui/view.png" style="max-width:10%; min-width: 20px;" height=auto></a>
                        </td>
						<td>{{d.filename}}</td>
						<td>{{d.creation_time}}</td>
						<td>{{d.modification_time}}</td>
						<td>{{d.file_size}} KB</td>
                        <td style="text-align:center;">
							<a class="delete btnConfirm" id="{{d.filename}}" onclick="confirm('{{d.filename}}')">
							<img src="../static/ui/delete.png" style="max-width:10%; min-width: 20px;" height=auto></a>
                        </td>
						<!--<td></td>-->
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div id = "threejs_container" class = "col-4 push-1">
			{% if name %}
			<iframe src="/display/{{name}}" scrolling="no" style=" width: 1150px; height: 700px; border: 1px solid #cbcbcb; border-radius: 10px;"></iframe>
			{% else %}
			<iframe src="/display/" scrolling="no" style=" width: 1150px; height: 700px; border: 1px solid #cbcbcb; border-radius: 10px;"></iframe>
			{% endif %}
<!-- 			<object data="/display/{{name}}" style="min-width: 100%; min-height: 101%;" type="text/html">
			    Alternative Content
			</object> -->
			<!-- <embed src="/display/{{name}}" width=100% /> -->
		</div>
	</div> <!-- row -->
</section> <!-- container -->
{% endblock %}