{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container">
	<h2>Oops! Something happened that is too powerful for Virtuaso to handle!</h2>
			<br>
			<br>
	<div>
		An error occured during processing.<br>
		Please consult the error message below and rectify the problem before trying again<br><br>
		Error message: '{{msg}}'
	</div>
</section>
{% endblock %}