{% extends "bootstrap/base.html" %}
{% block title %}3D reconstruction{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
	.button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 15px;
            font: 400 13px Arial;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
        }
</style>
{% endblock %}
{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container">
	<h1>Something happened</h1>
			<br>
			<br>
	<div>
		An error occured when processing image set "{{name}}".<br>
		Please consult the error message below and rectify the problem before trying again<br><br>
		Error message: '{{msg}}'
	</div>
</section>
{% endblock %}