{% extends "bootstrap/base.html" %}

{% block title %}3D reconstruction{% endblock %}

{% block navbar %}
	
	{%include "NavBarTemplate.html" %}

{% endblock %}

{%block content %}
	<div class="container">
	  <h2>Image Uploader</h2>
	  <form id="upload-form" action ="{{ url_for('upload') }}" method = "POST" enctype="multipart/form-data">
		  Model name (Leave blank to use current datetime as name):<br> <input type = "text" name = "modelname" id="modelname"><br><br>
		  Model quality (0 = low, 1 = medium, 2 = high):<br> <input type = "number" name = "quality" value="0" max="2" min="0"><br><br>
		  Upload images:<br> <input type = "file" name = "file" accept="image/*" multiple><br>
	    <input type="submit" value="Send">
	  </form>
	</div>
{% endblock %}