{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso: Upload images{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
<script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
{% endblock %}

{% block navbar %}
	{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
	<div class="container" style="text-align:center;">
        <div id="titleheader" style="margin: 50px auto; max-width: 600px; height: 150px; display: flex; justify-content: center; align-items: center;">
            <div id="one"><img src="../static/ui/pics.png" style="text-align: right; margin-top:25px; max-height: 100px; "></div>
            <div id="mid" style="border-left: 1.5px solid silver; height: 130px; max-height: 100%; margin: 10px 20px;"></div>
            <div id="two" style="text-align:left;"><div><h3 style="margin-top:0;">Upload image set</h3>
                This page allows you to upload the images you have taken and begin the 3D reconstruction process.</div></div>
        </div>
        <div id="boxed">
            <form id="upload-form" action ="{{ url_for('upload') }}" method = "POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="modelname">Model name (Leave blank to use current datetime as name):</label>
                <input type = "text" name = "modelname" class="form-control" id="modelname">
              </div>
              <div class="form-group">
                <label for="quality">Model quality:</label><br>
                <label class="radio-inline"><input type="radio" name="quality" value="0" >Low</label><br>
                <label class="radio-inline"><input type="radio" name="quality" value="1" >Medium</label><br>
                <label class="radio-inline"><input type="radio" name="quality" value="2" checked>High</label><br>
              </div>
              <div class="form-group">
                <label for="file-upload">Upload images:</label>
                <input id="file-upload" type = "file" name = "file" accept="image/*" multiple required>
              </div>
              <button type="submit" value="Send" class="btn btn-primary" style="width:100%;">Submit</button>
            </form>
        </div>
		<!--<form id="upload-form" action ="{{ url_for('upload') }}" method = "POST" enctype="multipart/form-data"><br>-->
		  <!--Model name (Leave blank to use current datetime as name):<br> <input type = "text" name = "modelname" id="modelname"><br><br>-->
		  <!--Model quality:-->
			<!--<input type="radio" name="quality" value="0"> Low-->
			<!--<input type="radio" name="quality" value="1"> Medium-->
			<!--<input type="radio" name="quality" value="2"> High <br><br>-->
		  <!--<input type = "number" name = "quality" value="0" max="2" min="0" required><br><br>-->
		  <!--Upload images:-->
		  <!--<label for="file-upload" class="custom-file-upload">-->
			<!--<i class="fa fa-cloud-upload"></i> Upload images-->
		<!--</label>-->
		  <!--<input id="file-upload" type = "file" name = "file" accept="image/*" multiple required><br>-->
		  <!--<input type="submit" value="Send" class="button" style="background-color: cornflowerblue;" >-->
		  <!--<button onclick="this.form.submit();" class="button">Send</button>-->
		<!--</form>-->
	</div>
{% endblock %}