{% extends "bootstrap/base.html" %}
{% block styles %}
{{ super() }}
<style type="text/css">
.column {
    float: left;
    width: 32%;
    text-align: center;
}
.columnspacer {
    float: left;
    min-width: 2%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
{% endblock %}
{% block title %}Virtuaso{% endblock %}

{% block navbar %}
	{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container">
		<div style="height: 300px;">
			<div style="position: relative; float: left; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width:90%;">
				<!--<h1></h1>-->
				<h2 class="title">A free, open-source and end-to-end 3D reconstruction software that generates 3D models by taking images of real-life objects.</h2>
			</div>
		</div>
		<div>
		  <div class="column">
			  <img src="../static/ui/easytouse.png" width="25%" height=auto>
			  <h3>Easy to use</h3>
			  <p>New to 3D modeling? No prior knowledge nor any other 3D modeling software is required for Virtuaso.
				  Virtuaso guides you step-by-step in reconstructing your 3D models.</p>
		  </div>
		  <div class="columnspacer">
			  <h3> </h3>
		  </div>
		  <div class="column">
			  <img src="../static/ui/efficient.png" width="25%" height=auto>
			  <h3>Efficient</h3>
			  <p> Why wait half a day to render 3D models in 3D modeling software?
				  Virtuoso contains a fully integrated pipeline of various photogrammetry and noise reduction tools
				  capable of generating 3D models with minimal background noise seamlessly and quickly.</p>
		  </div>
		  <div class="columnspacer">
			  <h3> </h3>
		  </div>
		  <div class="column">
			  <img src="../static/ui/export.png" width="25%" height=auto>
			  <h3>Free exporting of 3D models</h3>
			  <p>Who doesn't like free things? Virtuaso allows free exporting of generated 3D models to popular 3D model file types like .ply, .stl, and .obj.</p>
		  </div>
		</div>
</section>
{% endblock %}