{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<style type="text/css">
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
{% endblock %}

{% block title %}Virtuaso{% endblock %}

{% block navbar %}
	{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container">
		<div style="height: 300px;">
			<div style="position: relative; float: left; top: 50%; left: 50%; transform: translate(-50%, -50%);">
				<h1>End-to-end 3D reconstruction software</h1>
				<h2>Take pictures of objects, upload it to our server, and generate 3D models!</h2>
			</div>
		</div>
		<div>
			<div><h2>Features</h2></div>
		  <div class="column">
			  <h3>End-to-end 3D reconstruction</h3>
			  <p>Virtuaso does full generation of 3D models from images of physical objects. It even has it's very own iOS app for a seamless experience!</p></div>
		  <div class="column">
			  <h3>Efficient</h3>
			  <p>Virtuaso's generated models are noiseless, and are reconstructed much quicker (15 - 20 minutes)!</p>
		  </div>
		  <div class="column">
			  <h3>Free exporting of 3D models</h3>
			  <p>Virtuaso allows free exporting of generated models to popular 3D model file types like .ply, .stl, and .obj!</p>
		  </div>
		</div>
</section>
{% endblock %}