{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso: View Image Sets{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
	#mesh_table {
		/*max-width : 500px;*/
/*		border-style: solid;
		border-width: 5px;*/
		<!--display : inline-block;-->
		margin : 10px;
	}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
<script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/ezBSAlert.js') }}"></script>

<!--FROM ezBSAlert.js-->
<script type="text/javascript">
	function confirm(filename) {
		ezBSAlert({
		  type: 'confirm',
		  messageText: "Confirm delete of '" + filename + "'? This action can't be undone.",
		  alertType: 'Confirm'
		}).done(function (e) {
			if(e){
				window.location.href = '/deleteImages/'+filename;
			}
			return false;
		});
	}
</script>
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container" style="text-align:center;">
	<!--<div style="margin:50px auto; width:60%;">-->
		<!--<h2><img src="../static/ui/pics.png" width="100px" height=auto style="margin-bottom: 10px;"><br>Uploaded image sets</h2>-->
		<!--<p>This page allows you to view all uploaded image sets. For each image set, you can start it's 3D reconstruction process, or delete them.-->
			<!--Deleting an image set will delete everything generated and/or used by the image set.</p>-->
	<!--</div>-->
	<div id="titleheader" style="margin: 50px auto; max-width: 1005px; height: 150px; display: flex; justify-content: center; align-items: center;">
		<div id="one"><img src="../static/ui/pics.png" style="text-align: right; margin-top:25px; max-height: 100px; "></div>
		<div id="mid" style="border-left: 1.5px solid silver; height: 130px; max-height: 100%; margin: 10px 20px;"></div>
		<div id="two" style="text-align:left;"><div><h3 style="margin-top:0;">Uploaded image sets</h3>
			This page allows you to view all uploaded image sets. For each image set, you can start it's 3D reconstruction process, or delete them.
			Deleting an image set will delete everything generated and/or used by the image set.</div></div>
	</div>
	<div class="align-items-start">
		<div id = "mesh_table" class = "col-4" style="margin: auto; text-align:left; width:100%;">
			<table id="myTable" class="table table-hover">
				<thead>
					<th style="width:33%;">Image set name</th>
					<th style="width:11%;">Uploaded time</th>
					<th style="width:14%">Model quality</th>
					<th style="width:10%;">Current stage</th>
					<th style="width:13%; text-align:center;"></th>
					<th style="width:14%; text-align:center;"></th>
					<th style="width:5%; text-align:center;"></th>
				</thead>
				<tbody>
					{% for d in data %}
					<tr>
						<td style="vertical-align: middle;">{{d.filename}}</td>
						<td style="vertical-align: middle;">{{d.quality}}</td>
						<td style="vertical-align: middle;">{{d.creation_time}}</td>
						<td style="vertical-align: middle;">{{d.stage}} / 6</td>
						<td style="text-align:center; vertical-align: middle; padding:5px;">
        					{% if d.stage == '6' %}
                            <a class="btn btn-primary" href="/Stage6/{{d.filename}}">Process Stage 6</a>
        					{% elif d.stage == '5' %}
                            <a class="btn btn-primary" href="/Stage6/{{d.filename}}">Process Stage 6</a>
        					{% elif d.stage == '4' %}
                            <a class="btn btn-primary" href="/Stage5/{{d.filename}}">Process Stage 5</a>
        					{% elif d.stage == '3' %}
                            <a class="btn btn-primary" href="/Stage4/{{d.filename}}">Process Stage 4</a>
        					{% elif d.stage == '2' %}
                            <a class="btn btn-primary" href="/Stage3/{{d.filename}}">Process Stage 3</a>
        					{% elif d.stage == '1' %}
                            <a class="btn btn-primary" href="/Stage2/{{d.filename}}">Process Stage 2</a>
        					{% else %}
                            <a class="btn btn-primary" href="/Stage1/{{d.filename}}">Process Stage 1</a>
							{% endif %}
						</td>
						<td style="text-align:center; vertical-align: middle; padding:5px;">
                            <a class="btn btn-info" href="/FullReconstruction/{{d.filename}}">Process all Stages</a>
						</td>
						<td style="text-align:center; vertical-align: middle; padding:5px;">
                            <!--<a href="/deleteImages/{{d.filename}}"><img src="../static/ui/delete.png" style="max-width:10%; min-width: 20px;" height=auto></a>-->
							<a class="btn btn-danger" id="{{d.filename}}" onclick="confirm('{{d.filename}}')">
							Delete</a>
                        </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section>
{% endblock %}