{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
	#mesh_table {
		/*max-width : 500px;*/
/*		border-style: solid;
		border-width: 5px;*/
		<!--display : inline-block;-->
		margin : 10px;
	}
</style>
{% endblock %}
{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container">
	<h1 class = "button">Uploaded Image Sets</h1>
	<div class="row align-items-start">
		<div id = "mesh_table" class = "col-4">
			<table id="myTable" class="table table-hover">
				<thead>
					<th>Image set name</th>
					<th>Uploaded time</th>
					<th>Quality of model</th>
					<th>Stage completed</th>
					<th>Actions</th>
				</thead>
				<tbody>
					{% for d in data %}
					<tr>
						<td>{{d.filename}}</td>
						<td>{{d.creation_time}}</td>
						<td>{{d.quality}}</td>
						<td>{{d.stage}} / 4</td>
                        <td>
        					{% if d.stage == '3' or d.stage == '4' %}
                            <a href="/trimmer/{{d.filename}}">Process</a>
        					{% elif d.stage == '2' %}
                            <a href="/poisson/{{d.filename}}">Process</a>
        					{% elif d.stage == '1' %}
                            <a href="/denoise/{{d.filename}}">Process</a>
        					{% else %}
                            <a href="/osm/{{d.filename}}">Process</a>
							{% endif %}
                            <a href="/deleteImages/{{d.filename}}" style="margin-left:20px;">Delete</a>
                        </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section>
{% endblock %}