{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
{% endblock %}
{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container" style="text-align:center;">
	<div style="margin:50px auto; width:100%;">
	<h3>Photogrammetry processing via osmbundler and point cloud generation via PMVS</h3>
		<p>Processing image set "{{name}}".</p>
		<br><br>
		<a class="btn btn-primary" href="/osmprocess?name={{name}}">Generate 3D model</a>
	</div>
</section>
{% endblock %}