{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container">
	<h2>Stage 3: Point cloud generation via Patch-based Multi-view Stereo Software </h2>
			<br>
	<div>
		Generating point cloud from image set "{{name}}".
		<br><br>
		<a class="btn btn-primary" href="/PMVSprocess?name={{name}}">Generate point cloud</a>
	</div>
</section>
{% endblock %}