{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container" style="text-align:center;">
	<div class="centercenter">
	<h3>Stage 3: Point cloud generation of "{{name}}"</h3>
		<p>Patch Multi-View Stereo (PMVS) takes the output from the previous stage and generates a point cloud.
		The point cloud contains the 3D coordinates and the surface normal of each oriented point. </p>
		<br><br>
		<a class="btn btn-primary halfwidth" href="/PMVSprocess?name={{name}}">Begin Stage 3</a>
	</div>
</section>
{% endblock %}