{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
	.button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 15px;
            font: 400 13px Arial;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
        }
</style>
{% endblock %}
{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container">
	<h1>Stage 3: Mesh generation via Poisson Reconstruction Package</h1>
			<br>
			<br>
	<div>
		Generation of mesh via point cloud from image set "{{name}}"
		<br>
		<br>
		<a class="button" style="background-color: cornflowerblue;" href="/poissonprocess?name={{name}}">Generate mesh</a>
	</div>
</section>
{% endblock %}