{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container" style="text-align:center;">
	<div class="centercenter">
	<h3>Stage 5: Poisson Reconstruction of "{{name}}"</h3>
		<p>Poisson Reconstruction Package is used to generate a 3D mesh model based on the point cloud from the previous stage.
			This is done by reconstructing the 3D surfaces from the point in the point cloud.</p>
		<br><br>
		<a class="btn btn-default halfwidth" href="{{ url_for('static', filename='images/' + name + '/temp/pmvs/models/trim.ply')}}">Download current state of model</a><br><br>
		<a class="btn btn-primary halfwidth" href="/PoissonReconstructionprocess?name={{name}}">Begin Stage 5</a>
	</div>
</section>
{% endblock %}