{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container" style="text-align:center;">
	<div style="margin:50px auto; width:100%;">
	<h2>Stage 5: 3D mesh model generation via Poisson Reconstruction Package</h2>
		<p>Generating a 3D mesh model via point cloud from image set "{{name}}".</p>
		<br><br>
		<a class="btn btn-default" href="{{ url_for('static', filename='images/' + name + '/temp/pmvs/models/trim.ply')}}">Download current state of model</a>
		<a class="btn btn-primary" href="/PoissonReconstructionprocess?name={{name}}">Generate mesh</a>
	</div>
</section>
{% endblock %}