{% extends "bootstrap/base.html" %}
{% block title %}Virtuaso{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container" style="text-align:center;">
	<div class="centercenter">
		<h3>Stage 1: Preparation of images and feature matching of "{{name}}"</h3>
		<p>All images will have it's Exif data extracted using Exiv2, an image metadata library. After that, the features in each
			image is detected via Scale-Invariant Feature Transform (SIFT) algorithm. Similar features between different images are then matched via triangulation.
		</p>
		<br><br>
		<a class="btn btn-primary halfwidth" href="/PrepAndMatchprocess?name={{name}}">Begin Stage 1</a>
	</div>
</section>
{% endblock %}